<div class="card border-primary mt-3">
  <div class="card-header border-primary center text-center">
    {{ubicacion}}
  </div>
  <div class="card-body">
    <div class="form-group row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="cmbAnio">Año:</label>
          <select class="browser-default custom-select" [(ngModel)]="anioSeleccionado" #input="ngModel"
            (change)="cambioAnio()" required id="cmbAnio">

            <option *ngFor="let anio of listaAnio" [ngValue]="anio.anio">{{anio.anio}}</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="cmbPeriodo">Mes:</label>
          <select class="browser-default custom-select" [(ngModel)]="periodoSeleccionado" #input="ngModel"
            (change)="cambioPeriodo()" required id="cmbPeriodo">

            <option *ngFor="let periodo of listaPeriodos" [ngValue]="periodo.id_periodo">{{periodo.nombre}}</option>
          </select>
        </div>
      </div>
    </div>


    <div class="dropdown-divider"></div>
    <div class="form-group">
      <label for="txtFiltro">Filtro:</label>
      <input type="text" class="form-control" id="txtFiltro" placeholder="identificacion / nombres / medidor"
        [(ngModel)]="filtro" (keydown.enter)="cambioPeriodo()" />
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <div class="custom-control custom-radio">
          <input type="radio" id="rbGenerado" name="rbAccion" class="custom-control-input" checked [value]="true"
            [(ngModel)]="estadoGenerado">
          <label class="custom-control-label" for="rbGenerado">Disponibles</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="rbRegistrado" name="rbAccion" class="custom-control-input" [value]="false"
            [(ngModel)]="estadoGenerado">
          <label class="custom-control-label" for="rbRegistrado">Registrados</label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-4">
        <input type="button" class="btn btn-primary" value="Aplicar" (click)="cambioPeriodo()">
      </div>
      <div class="col-sm-4 text-center">
        <div class="spinner-border" *ngIf="cargando"></div>
      </div>
      <div class="col-sm-4">

      </div>
    </div>

    <div class="dropdown-divider"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <div class="list-group">
            <div class="list-group-item">
              Abonado
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="list-group">
            <div class="list-group-item">
              L. Anterior
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="list-group">
            <div class="list-group-item">
              L. Actual
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="list-group">
            <div class="list-group-item">
              M3
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row" *ngFor="let registro of listaConsumoInicializado">
        <div class="col-sm-5">
          <div class="list-group">
            <div class="list-group-item">
              {{registro.codigo}} -
              {{registro.identificacion}} -
              {{registro.razon_social}} -
              {{registro.barrio}}
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="list-group">
            <div class="list-group-item">
              {{registro.lectura_anterior}}
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <!-- <div class="list-group">
            <div class="list-group-item"> -->
              <input type="number" class="form-control input-sm" style="border-color: blue" (keydown.enter)="guardarRegistro(registro)"
                (change)="calcularConsumo(registro)" [(ngModel)]="registro.lectura_actual" />
            <!-- </div>
          </div> -->
        </div>
        <div class="col-sm-2">
          <div class="list-group">
            <div class="list-group-item">
              {{registro.consumo}}
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
    <!-- <div class="table-responsive">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>C.I./RUC</th>
            <th>Nombres</th>
            <th>Barrio</th>
            <th>Medidor</th>
            <th>L. Anterior</th>
            <th>L. Actual</th>
            <th>Consumo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let registro of listaConsumoInicializado">
            <td>{{registro.identificacion}}</td>
            <td>{{registro.razon_social}}</td>
            <td>{{registro.barrio}}</td>
          
            <td>{{registro.codigo}}</td>
            <td>{{registro.lectura_anterior}}</td>
            <td>
              <input type="number" class="form-control input-sm" 
              (keydown.enter)="guardarRegistro(registro)"
              (change)="calcularConsumo(registro)"
                [(ngModel)]="registro.lectura_actual" />
            </td>
            <td>{{registro.consumo}}</td>
          </tr>
        </tbody>
      </table>
    </div> -->
    <br>
    <input type="button" class="btn btn-primary" value="Guardar Todo" (click)="guardarTodo()">
  </div>
</div>