<div class="fixed-top">
  <header class="topbar">
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-sm-12">
          <a id="nombreEmpresa" class="navbar-brand" rel="nofollow" target="_blank" style="text-transform: uppercase; color: white;">
            {{empresa}}</a>
          <ul class="social-network">
            
            <li>
              <a class="waves-effect waves-dark" href="https://es-la.facebook.com/MinTrabajoEcuador/" target="_blank"><i
                  class="icon-facebook-sign"></i></a>
            </li>
            <li>
              <a class="waves-effect waves-dark" href="https://twitter.com/MinTrabajoEc" target="_blank"><i
                  class="icon-twitter-sign"></i></a>
            </li>
            <li>
              <a class="waves-effect waves-dark" href="https://www.youtube.com/user/rellaboralesec" target="_blank"><i
                  class="icon-youtube"></i></a>
            </li>
            <li>
              <a class="waves-effect waves-dark" href="https://www.flickr.com/photos/relacioneslaboralesecuador/"
                target="_blank"><i class="icon-flickr"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
    <div class="container">

      <a style="color: white;"
      >{{usuario}}</a>
      

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <span class="menu-spacer"></span>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active" *ngIf="isLogged" (click)="cerrarSesion()">
            <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active"><i
                class="fas fa-door-open"></i>Cerrar Sesion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</div>


<mat-toolbar class="menu-bar mat-elevation-z1" *ngIf="isLogged">
  <span *ngFor="let item of listaAccesos">
    <span *ngIf="item.menuHijo && item.menuHijo.length > 0">
      <button mat-button [matMenuTriggerFor]="menu.childMenu">
        {{item.texto}}
      </button>
      <app-sub-menu #menu [items]="item.menuHijo"></app-sub-menu>
    </span>
    <span *ngIf="!item.menuHijo || item.menuHijo.length === 0">
      <button mat-button color="primary" [routerLink]="item.accion">
        {{item.texto}}
      </button>
    </span>
  </span>
</mat-toolbar>

<!-- <mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="example-app-name">Responsive App</h1>
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-container">
  <mat-sidenav #snav
    fixedTopGap="56">
    <mat-nav-list>
      <span *ngFor="let item of listaAccesos">
        <span *ngIf="item.menuHijo && item.menuHijo.length > 0">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-icon>{{item.icono}}</mat-icon>
                    {{item.texto}}
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <span *ngFor="let hijo of item.menuHijo">
                <mat-list-item routerLink="[hijo.accion]">
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-icon>{{hijo.icono}}</mat-icon>
                    {{hijo.texto}}
                  </div>
                </mat-list-item>
              </span>
              
            </mat-expansion-panel>
          </mat-accordion>
        </span>
        <span *ngIf="!item.menuHijo || item.menuHijo.length === 0">
          <mat-list-item routerLink="[item.accion]">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <mat-icon>{{item.icono}}</mat-icon>
              {{item.texto}}
            </div>
          </mat-list-item>
        </span>
      </span>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container> -->