body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #f7f7f7;
  }
  
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
  }
  .navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px;
  }
  
  /*
  headeer top
  */
  .topbar {
    background-color: #212529;
    padding: 0;
  }
  
  .topbar .container .row {
    margin: -7px;
    padding: 0;
  }
  
  .topbar .container .row .col-md-12 {
    padding: 0;
  }
  
  .topbar p {
    margin: 0;
    display: inline-block;
    font-size: 13px;
    color: #f1f6ff;
  }
  
  .topbar p > i {
    margin-right: 5px;
  }
  .topbar p:last-child {
    text-align: right;
  }
  
  header .navbar {
    margin-bottom: 0;
  }
  
  .topbar li.topbar {
    display: inline;
    padding-right: 18px;
    line-height: 52px;
    transition: all 0.3s linear;
  }
  
  .topbar li.topbar:hover {
    color: #1bbde8;
  }
  
  .topbar ul.info i {
    color: #131313;
    font-style: normal;
    margin-right: 8px;
    display: inline-block;
    position: relative;
    top: 4px;
  }
  
  .topbar ul.info li {
    float: right;
    padding-left: 30px;
    color: #ffffff;
    font-size: 13px;
    line-height: 44px;
  }
  
  .topbar ul.info i span {
    color: #aaa;
    font-size: 13px;
    font-weight: 400;
    line-height: 50px;
    padding-left: 18px;
  }
  
  ul.social-network {
    border: none;
    margin: 0;
    padding: 0;
  }
  
  ul.social-network li {
    border: none;
    margin: 0;
  }
  
  ul.social-network li i {
    margin: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px;
    border: 0px solid #2d2d2d;
    padding: 5px 0 0;
    width: 32px;
    display: inline-block;
    text-align: center;
    height: 32px;
    vertical-align: baseline;
    color: #000;
  }
  
  ul.social-network {
    list-style: none;
    margin: 5px 0 10px -25px;
    float: right;
  }
  
  .waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: 0.3s ease-out;
    color: #fff;
  }
  a {
    color: #0a0a0a;
    text-decoration: none;
  }
  
  li {
    list-style-type: none;
  }
  .bg-image-full {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  .bg-dark {
    background-color: #222 !important;
  }
  
  .btn-info {
    color: #fff;
    background-color: #05558a;
    border-color: #05558a;
  }
  
  /**
  * Línea verde y negra del menú
  * azul 0612c0   05558a (mdt en linea)
  * verde 54d400 (original)
  */
  .mx-background-top-linear {
    background: -webkit-linear-gradient(45deg, #05558a 48%, #1b1e21 48%);
    background: -webkit-linear-gradient(left, #05558a 48%, #1b1e21 48%);
    background: linear-gradient(45deg, #05558a 48%, #1b1e21 48%);
  }
  
  .fixed-top {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  
  /**
  * Da espacios a los margenes del icono del menu header
  */
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: 5px;
  }
  
  .navbar-brand {
    /*display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;*/
    margin-left: 10px !important;
  }
  
  #nombreMinisterio {
    margin-left: 2px;
  }
  
  @media only screen and (max-width: 600px) {
    #nombreMinisterio {
      margin-left: 2px;
      font-size: 4vw;
    }
    .mx-background-top-linear {
      background: -webkit-linear-gradient(45deg, #05558a 48%, #05558a 48%);
      background: -webkit-linear-gradient(left, #05558a 48%, #05558a 48%);
      background: linear-gradient(45deg, #05558a 48%, #05558a 48%);
    }
  }
  .menu-spacer {
    flex: 1 1 auto;
  }


/*****************************/
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

table {
  width: 100%;
}

  