<div class="card border-primary mt-3">
    <div class="card-header border-primary center text-center">
        {{ubicacion}}
    </div>
</div>

<div class="card-body" *ngIf="nemonicoTipoUsuario != 'TIPUSREXT'">
    <div class="form-group row">
        <div class="col-sm-12" align="center">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop"
                (click)="listarSocios()">
                Seleccionar Socio
            </button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12" align="center">
            {{socio.identificacion}} - {{socio.razon_social}}
        </div>
    </div>
</div>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-comprobante-tab" data-toggle="tab" href="#nav-comprobante"
            role="tab" aria-controls="nav-comprobante" aria-selected="true" [ngClass]="{'active':indexTab ==0}"
            (click)="indexTab = 0">Generación de Comprobante de Pago</a>
        <a class="nav-item nav-link " id="nav-pago-tab" data-toggle="tab" href="#nav-pago" role="tab"
            aria-controls="nav-pago" aria-selected="false" [ngClass]="{'active':indexTab ==1}">Aplicación de Pago</a>
    </div>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-comprobante"
            [ngClass]="{'active':indexTab ==0,'show':indexTab==0}" role="tabpanel"
            aria-labelledby="nav-comprobante-tab">
            <div class="card border-primary mt-3">

                <div class="card-body">
                    <div class="card-header bg-primary text-white">
                        1.- Seleccione los Valores a Pagar:
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead class="thead-light">
                                <tr>
                                    <!--                 <th>C.I./RUC</th>
                            <th>Nombres</th> -->
                                    <th>Barrio</th>
                                    <!-- <th>Ítem</th> -->
                                    <th>Medidor</th>
                                    <th>Periodo</th>


                                    <th>Consumo</th>
                                    <th>Básico</th>
                                    <th>Excedente</th>
                                    <th>Aicional</th>

                                    <th>Total</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let registro of listaConsumo">
                                    <!-- <td>{{registro.identificacion}}</td> -->
                                    <!-- <td>{{registro.razon_social}}</td> -->
                                    <td>{{registro.barrio}}</td>
                                    <!-- <td>{{registro.item}}</td> -->
                                    <td>{{registro.codigo}}</td>
                                    <td>{{registro.anio}}-{{registro.mes}}</td>


                                    <td>{{registro.consumo}}</td>
                                    <td>{{registro.valor_consumo_basico}}</td>
                                    <td>{{registro.valor_excedente}}</td>
                                    <td>{{registro.valor_adicional}}</td>

                                    <td>{{registro.sub_total}}</td>
                                    <td align="right">
                                        <input class="form-check-input" type="checkbox"
                                            [ngValue]="registro.seleccionado" (change)="sumarSeleccionados(registro)">
                                    </td>

                                </tr>
                            </tbody>

                        </table>
                    </div>
                    <div class="card-header bg-primary text-white">
                        2.- Genere el Comprobante de Pago:
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead class="thead-light">
                                <tr>
                                    <th>Medidor</th>
                                    <th>Periodo</th>
                                    <th>M3</th>
                                    <th>Valor</th>
                                    <th>Recargo</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let registro of listaSeleccionados">
                                    <td>{{registro.codigo}}</td>
                                    <td>{{registro.anio}}-{{registro.mes}}</td>
                                    <td>{{registro.consumo}}</td>
                                    <td>{{registro.sub_total}}</td>
                                    <td>{{registro.valor_mora}}</td>
                                    <td>{{registro.total}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Total Consumos:</label>
                                </div>
                                <input type="text" class="form-control" [(ngModel)]="totalConsumoComprobantePago"
                                    readonly />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Total Recargos:</label>
                                </div>
                                <input type="text" class="form-control" [(ngModel)]="totalMoraComprobantePago"
                                    readonly />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Total:</label>
                                </div>
                                <input type="text" class="form-control" [(ngModel)]="totalComprobantePago" readonly />
                            </div>
                        </div>
                    </div>
                    <input type="button" class="btn btn-primary" value="Generar Comprobante de Pago"
                        (click)="generarComprobante()" />





                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-pago" role="tabpanel" [ngClass]="{'active':indexTab ==1,'show':indexTab==1}"
            aria-labelledby="nav-pago-tab">
            <div class="card border-primary mt-3">
                <div class="card-body">
                    <div class="card-header bg-primary text-white">
                        1.- Seleccione un Comprobante de Pago:
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead class="thead-light">
                                <tr>
                                    <th>
                                        No. Comprobante
                                    </th>
                                    <th>
                                        Fecha
                                    </th>
                                    <th>Observación</th>
                                    <th>Monto Comprobante</th>
                                    <th>Estado</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let registro of listaTransaccionesPago" (click)="seleccionFila(registro)"
                                    [class.active]="registro == transaccion">
                                    <td>CP{{registro.id_transaccion_pago}}</td>
                                    <td>{{registro.fecha_generacion_documento}}</td>
                                    <td>{{registro.observacion_pago}}</td>
                                    <td>{{registro.valor_comprobante}}</td>
                                    <td>{{registro.estado}}</td>
                                    <td>
                                        <input type="button" class="btn btn-primary" value="Imprimir"
                                            (click)="generarPdfComprobantePago(registro)" />
                                        <input type="button" class="btn btn-primary" value="Anular"
                                            (click)="anularTransaccion(registro)" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Total Comprobante:</label>
                                </div>
                                <input type="text" class="form-control" [(ngModel)]="valorComprobanteSeleccionado"
                                    readonly />
                            </div>
                        </div>
                    </div>
                    <div class="card-header bg-primary text-white">
                        2.- Especifique y Agregue la Información de los Depósitos y/o Transferencias:
                    </div>
                    <br>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="cmbFormaPago">*Tipo de Pago:</label>
                                <select class="browser-default custom-select" [(ngModel)]="detallePago.forma_pago_id"
                                    #input="ngModel" required id="cmbFormaPago" (change)="cambioTipoPago()">
                                    <option *ngFor="let tipoPago of listaTipoPago" [ngValue]="tipoPago.id_catalogo">
                                        {{tipoPago.nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txtValorDeposito">*Monto:</label>
                                <input type="number" class="form-control" id="txtValorDeposito"
                                    [(ngModel)]="detallePago.valor_pago" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="cuentaOrigenVisible">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="cmbBancoOrigen">*Banco Origen:</label>
                                <select class="browser-default custom-select" [(ngModel)]="detallePago.banco_id"
                                    #input="ngModel" required id="cmbBancoOrigen">
                                    <option *ngFor="let banco of listaBancos" [ngValue]="banco.id_banco">
                                        {{banco.nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txtCuentaOrigen">*Cuenta Bancaria Origen:</label>
                                <input type="text" class="form-control" id="txtCuentaOrigen"
                                    [(ngModel)]="detallePago.cuenta_bancaria_origen" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="cmbBanco">*Banco Destino:</label>
                                <select class="browser-default custom-select" #input="ngModel"
                                    [(ngModel)]="bancoDestinoSeleccionado" (change)="cambioBanco()" required
                                    id="cmbBanco">
                                    <option *ngFor="let banco of listaBancos" [ngValue]="banco.id_banco">
                                        {{banco.nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="cmbCuentaBanco">*Cuenta Bancaria Destino:</label>
                                <select class="browser-default custom-select" #input="ngModel"
                                    [(ngModel)]="detallePago.cuenta_bancaria_id" required id="cmbCuentaBanco">
                                    <option *ngFor="let cuenta of listaCuentaBanco"
                                        [ngValue]="cuenta.id_cuenta_bancaria">
                                        {{cuenta.cuenta}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txtReferencia">*Referencia:</label>
                                <input type="text" class="form-control" id="txtReferencia"
                                    [(ngModel)]="detallePago.referencia" />
                            </div>

                        </div>
                        <!-- <div class="col-sm-6">
                            <div class="form-group">
                                <mat-form-field appearance="fill">
                                    <mat-label>Escoja una fecha</mat-label>
                                    <input matInput [matDatepicker]="picker">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div> -->
                    </div>
                    <div class="form-group row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="button" class="btn btn-primary" value="Agregar"
                                    (click)="agregarRegistroPago()" />
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>Tipo Pago</th>
                                    <th>Banco Origen</th>
                                    <th>Cuenta Origen</th>
                                    <th>Banco Destino</th>
                                    <th>CuentaDestino</th>
                                    <th>Referencia</th>
                                    <th>Valor</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let detalle of listaDetallePago">
                                    <td>{{detalle.forma_pago}}</td>
                                    <td>{{detalle.banco_origen}}</td>
                                    <td>{{detalle.cuenta_bancaria_origen}}</td>
                                    <td>{{detalle.banco_destino}}</td>
                                    <td>{{detalle.cuenta_bancaria_destino}}</td>
                                    <td>{{detalle.referencia}}</td>
                                    <td>{{detalle.valor_pago}}</td>
                                    <td>
                                        <input type="button" class="btn btn-primary" value="Eliminar"
                                            (click)="eliminarDetallePago(detalle)" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <input type="button" class="btn btn-primary" value="Enviar" (click)="guardarDetallePago()" />
                </div>
            </div>
        </div>
    </div>

</nav>
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Socios</h5>
                <button type="button" #closebutton class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="md-form mb-5">
                    <!-- <div class="form-group row"> -->
                    <div class="form-group">
                        <label for="txtFiltroSocio">Filtro:</label>
                        <input type="text" class="form-control" id="txtFiltroSocio" [(ngModel)]="filtroSocio" />
                    </div>
                    <input type="button" class="btn btn-primary" value="Aplicar" (click)="aplicarFiltroSocio()" />
                    <!-- </div> -->
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr *ngFor="let socio of listaSocios" (click)="seleccionSocio(socio)">
                                <td>{{socio.identificacion}} - {{socio.razon_social}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>