<div class="card border-primary mt-3">
    <div class="card-header border-primary center text-center">
        {{ubicacion}}
    </div>
    <div class="card-body">
        <div class="form-group row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="cmbAnio">Año:</label>
                    <select class="browser-default custom-select" [(ngModel)]="anioSeleccionado" #input="ngModel"
                        (change)="cambioAnio()" required id="cmbAnio">

                        <option *ngFor="let anio of listaAnio" [ngValue]="anio.anio">{{anio.anio}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="cmbPeriodo">Mes:</label>
                    <select class="browser-default custom-select" [(ngModel)]="periodoSeleccionado" #input="ngModel"
                        (change)="cambioPeriodo()" required id="cmbPeriodo">

                        <option *ngFor="let periodo of listaMeses" [ngValue]="periodo.id_periodo">{{periodo.nombre}}
                        </option>
                    </select>
                </div>
            </div>
            <input type="button" class="btn btn-primary" value="Imprimir Consumos Aprobados" (click)="generarPdfLecturaAprobada()">
        </div>
        <div class="form-group">
            <label for="txtFiltro">Filtro:</label>
            <input type="text" class="form-control" id="txtFiltro" placeholder="identificacion / nombres / medidor"
                [(ngModel)]="filtro" (keydown.enter)="cambioPeriodo()" />
        </div>
        <input type="button" class="btn btn-primary" value="Aplicar" (click)="cambioPeriodo()">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>C.I./RUC</th>
                    <th>Nombres</th>
                    <th>Barrio</th>
                    <!-- <th>Ítem</th> -->
                    <th>Medidor</th>
                    <!-- <th>Año</th>
                <th>Mes</th> -->
                    <th>L. Anterior</th>
                    <th>L. Actual</th>
                    <th>Consumo</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let registro of listaConsumoInicializado">
                    <td>{{registro.identificacion}}</td>
                    <td>{{registro.razon_social}}</td>
                    <td>{{registro.barrio}}</td>
                    <!-- <td>{{registro.item}}</td> -->
                    <td>{{registro.codigo}}</td>
                    <!-- <td>{{registro.anio}}</td>
                <td>{{registro.mes}}</td> -->
                    <td>{{registro.lectura_anterior}}</td>
                    <td>{{registro.lectura_actual}}</td>
                    <td>{{registro.consumo}}</td>
                    <td align="right">
                        <input class="form-check-input" type="checkbox"
                        [(ngModel)]="registro.seleccionado"
                            [checked]="registro.seleccionado"
                        >
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="button" class="btn btn-primary" value="Aprobar Todo" (click)="aprobarLecturas()">
    </div>
</div>