<div class="card border-primary mt-3">
    <div class="card-header border-primary center text-center">
        {{ubicacion}}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-condensed">
                <thead class="thead-light">
                    <tr>
                        <th>Comprobante</th>
                        <th>Fecha</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let registro of listaTransaccionesPago">
                        <td>CP{{registro.id_transaccion_pago}}</td>
                        <td>{{registro.fecha_generacion_documento}}</td>
                        <td>{{registro.valor_comprobante}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>