<mat-menu #childMenu="matMenu" [overlapTrigger]="false">
    <span *ngFor="let child of items">
      <!-- Handle branch node menu items -->
      <span *ngIf="child.menuHijo && child.menuHijo.length > 0">
        <button mat-menu-item color="primary" [matMenuTriggerFor]="menu.childMenu">
          <mat-icon>{{child.icono}}</mat-icon>
          <span>{{child.texto}}</span>
        </button>
        <app-sub-menu #menu [items]="child.children"></app-sub-menu>
      </span>
      <!-- Handle leaf node menu items -->
      <span *ngIf="!child.menuHijo || child.menuHijo.length === 0">
        <button mat-menu-item [routerLink]="child.accion">
          <mat-icon>{{child.icono}}</mat-icon>
          <span>{{child.texto}}</span>
        </button>
      </span>
    </span>
  </mat-menu>