<div class="card border-primary mt-3">
    <div class="card-header border-primary center text-center">
        {{ubicacion}}
    </div>
    <div class="card-body">
        <div class="card-header bg-primary text-white">
            1.- Seleccione un Comprobante de Pago:
        </div>
        <br>
        <div class="table-responsive">
            <table class="table table-condensed">
                <thead class="thead-light">
                    <tr>
                        <th>No</th>
                        <th>Fecha</th>
                        <th>Identificación</th>
                        <th>Nombres</th>
                        <th>Valor Comprobante</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let registro of listaTransaccionesPago" (click)="seleccionRegistroPago(registro)"
                        [class.active]="registro == transaccionPago">
                        <td>{{registro.id_transaccion_pago}}</td>
                        <td>{{registro.fecha_generacion_documento}}</td>
                        <td>{{registro.identificacion}}</td>
                        <td>{{registro.razon_social}}</td>
                        <td>{{registro.valor_comprobante}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-header bg-primary text-white">
            2.- Verifique la Información de Depósito(s) y/o Transferencia(s):
        </div>
        <br>
        <div class="table-responsive">
            <table class="table table-condensed">
                <thead class="thead-light">
                    <th>Tipo Pago</th>
                    <th>Banco Origen</th>
                    <th>Cuenta Origen</th>
                    <th>Banco Destino</th>
                    <th>CuentaDestino</th>
                    <th>Referencia</th>
                    <th>Valor</th>
                </thead>
                <tbody>
                    <tr *ngFor="let detalle of listaDetallePago">
                        <td>{{detalle.forma_pago}}</td>
                        <td>{{detalle.banco_origen}}</td>
                        <td>{{detalle.cuenta_bancaria_origen}}</td>
                        <td>{{detalle.banco_destino}}</td>
                        <td>{{detalle.cuenta_bancaria_destino}}</td>
                        <td>{{detalle.referencia}}</td>
                        <td>{{detalle.valor_pago}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Total Pagos:</label>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="totalPagos" readonly />
                </div>
            </div>
        </div>
        <div class="card-header bg-primary text-white">
            3.- Apruebe o Niegue el trámite:
        </div>
        <br>
        <div class="form-group row">

            <div class="col-sm-12">
                <div class="form-group">
                    <label for="txtObservacion">Observación:</label>
                    <textarea class="form-control" id="txtObservacion" rows="3"
                    [(ngModel)]="transaccionPago.observacion_pago"
                    ></textarea>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <div class="custom-control custom-radio">
                    <input type="radio" id="rbAprobado" name="rbAccion" class="custom-control-input"
                    checked [value]="true" [(ngModel)]="aprobarComprobante"
                    >
                    <label class="custom-control-label" for="rbAprobado">Aprobado</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="rbNegado" name="rbAccion" class="custom-control-input"
                    [value]="false" [(ngModel)]="aprobarComprobante"
                    >
                    <label class="custom-control-label" for="rbNegado">Rechazado</label>
                </div>
            </div>
        </div>
        <input type="button" class="btn btn-primary" value="Guardar" (click)="actualizarEstadoTransaccion()" />
    </div>
</div>