<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Ingreso</h5>
            <form class="form-signin" #loginForm="ngForm">
              <div class="form-label-group">
                <input type="text" name="login" id="inputEmail" class="form-control" placeholder="Usuario"
                  [(ngModel)]="usr" required #loginInput="ngModel" />
                <label for="inputEmail"><i class="fas fa-user mr-2"></i>Usuario</label>
              </div>
              <div style="font-size: 10px; padding: .25rem 0.85rem;" class="alert alert-danger"
                *ngIf="loginInput.invalid && (loginInput.touched || loginInput.dirty)">
                <div *ngIf="loginInput.errors.required">
                  Debe ingresar el usuario
                </div>
              </div>
              <div class="form-label-group">
                <input type="password" name="clave" id="inputPassword" class="form-control" placeholder="Clave"
                  [(ngModel)]="pass" required #claveInput="ngModel" />
                <label for="inputPassword"><i class="fas fa-key mr-2"></i>Clave</label>
              </div>
              <div style="font-size: 10px; padding: .25rem 0.85rem;" class="alert alert-danger"
                *ngIf="claveInput.invalid && (claveInput.touched || claveInput.dirty)">
                <div *ngIf="claveInput.errors.required">
                  Debe ingresar la clave.
                </div>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" (click)="login()">
                <i class="fas fa-sign-in-alt"></i>
                Ingresar
              </button>
              <hr class="my-4" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>