<div class="card border-primary mt-3">
    <div class="card-header border-primary center text-center">
        {{ubicacion}}
    </div>
    <div class="card-body">
        <div class="form-group">
            <label for="txtFiltro">Filtro:</label>
            <input type="text" class="form-control" id="txtFiltro" placeholder="identificacion / nombres / medidor"
                [(ngModel)]="filtro" (keydown.enter)="listarPorFiltro()" />
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="list-group">
                    <div class="list-group-item">
                        Abonado
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="list-group">
                    <div class="list-group-item">
                        Serie
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="list-group">
                    <div class="list-group-item">
                        Orden
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row" *ngFor="let registro of listaCatastro">
            <div class="col-sm-5">
                <div class="list-group">
                    <div class="list-group-item">
                        {{registro.codigo_medidor}} -
                        {{registro.identificacion}} -
                        {{registro.razon_social}} -
                        {{registro.barrio}}
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control input-sm" 
                [style.border-color]="registro.serie == undefined || registro.serie == ''? 'blue' : 'green'"
                    (keydown.enter)="guardarSerie(registro)" [(ngModel)]="registro.serie" />
            </div>
            <div class="col-sm-3">
                <input type="number" class="form-control input-sm"
                [style.border-color]="registro.orden == undefined || registro.orden == ''? 'blue' : 'green'"
                    (keydown.enter)="guardarOrden(registro)" [(ngModel)]="registro.orden" />
            </div>
        </div>
    </div>
</div>