<div class="card border-primary mt-3">
    <div class="card-header border-primary center text-center">
        {{ubicacion}}
    </div>
    <div class="form-group row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="cmbTipoUsuario">*Tipo de Usuario:</label>
                <select class="browser-default custom-select"
                [(ngModel)]="tipoUsuarioSel" #input="ngModel" required
                    id="cmbTipoUsuario" (change)="cambioTipoUsuario()">
                    <option *ngFor="let tipoUsuario of listaTipoUsuario"
                    [ngValue]="tipoUsuario.id_catalogo">
                        {{tipoUsuario.nombre}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="card-body" *ngIf="modoEdicion">
        <div class="form-group row">
            <div class="col-sm-6">
                <label>*Persona:</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" aria-label="Persona" aria-describedby="basic-addon2"
                        readonly [(ngModel)]="usuario.nombres">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" (click)="aplicarFiltroSocio()"
                            data-toggle="modal" data-target="#staticBackdrop">...</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="txtCorreo">Correo Electrónico:</label>
                    <input type="text" class="form-control" id="txtCorreo" [(ngModel)]="usuario.correo_electronico" readonly/>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="txtUsuario">*Usuario:</label>
                    <input type="text" class="form-control" id="txtUsuario"
                    [(ngModel)]="usuario.login" [readonly] = "campoUsuarioSoloLectura"/>
                </div>
            </div>
            <div class="col-sm-6">
                <label>*Perfil:</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" aria-label="Perfil"
                    aria-describedby="basic-addon2"
                    readonly [(ngModel)]="rol.nombre"
                    >
                    <div class="input-group-append" *ngIf="!campoUsuarioSoloLectura">
                        <button class="btn btn-outline-secondary" type="button"
                            data-toggle="modal" data-target="#modalPerfil">...</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row" *ngIf = "!campoUsuarioSoloLectura">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="txtContrasena">*Contraseña:</label>
                    <input type="password" class="form-control" id="txtContrasena"
                    [(ngModel)]="usuario.pass"/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="txtConfirmacion">*Confirmación Contraseña:</label>
                    <input type="password" class="form-control" id="txtConfirmacion"
                    [(ngModel)]="confirmacionContrasena"/>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="swithCambioClave" 
                        [(ngModel)]="usuario.confirmacion">
                        <label class="custom-control-label" for="swithCambioClave">Cambio Clave</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="switSesionActiva" [(ngModel)]="usuario.sesion_activa">
                        <label class="custom-control-label" for="switSesionActiva">Sesión Activa</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="swithEstado" [(ngModel)]="activo">
                        <label class="custom-control-label" for="swithEstado">Estado</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="text-center">
                <button class="btn btn-primary" (click)="grabar()">Grabar</button>
                <button class="btn btn-primary" (click)="cancelar()">Cancelar</button>
            </div>
        </div>
    </div>
    <div class="card-body" *ngIf="!modoEdicion">
        <button type="button" class="btn btn-success" (click)="nuevo()">Crear Nuevo</button>
        <br>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>Identificación</th>
                        <th>Nombres</th>
                        <th>Usuario</th>
                        <th>Cambio Clave</th>
                        <th>Sesión Activa</th>
                        <th>Estado</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of listaUsuario">
                        <td>{{usuario.identificacion}}</td>
                        <td>{{usuario.nombres}}</td>
                        <td>{{usuario.login}}</td>
                        <td align="center">
                            <input type="checkbox" class="form-check-input" [checked]="usuario.confirmacion" disabled />
                        </td>
                        <td align="center">
                            <input type="checkbox" class="form-check-input" [checked]="usuario.sesion_activa"
                                disabled />
                        </td>
                        <td align="center">
                            <input type="checkbox" class="form-check-input"
                                [checked]="usuario.nemonico_estado === 'ACT'" disabled />
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-primary"
                                (click)="editar(usuario)">Edita</button>
                            <button type="button" class="btn btn-outline-danger"
                                (click)="eliminar(usuario)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Personas</h5>
                <button type="button" #closebutton class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="md-form mb-5">
                    <div class="form-group">
                        <label for="txtFiltroSocio">Filtro:</label>
                        <input type="text" class="form-control" id="txtFiltroSocio" [(ngModel)]="filtroSocio" />
                    </div>
                    <input type="button" class="btn btn-primary" value="Aplicar" (click)="aplicarFiltroSocio()" />
                    <!-- </div> -->
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr *ngFor="let socio of listaSocio" (click)="seleccionSocio(socio)">
                                <td>{{socio.identificacion}} - {{socio.razon_social}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalPerfil" data-backdrop="static" 
data-keyboard="false" tabindex="-1"
    aria-labelledby="lblModalPerfil" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lblModalPerfil">Perfil</h5>
                <button type="button" #btnCerrarModalPerfil 
                class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr *ngFor="let perfil of listaPerfil" (click)="seleccionPerfil(perfil)">
                                <td>{{perfil.nombre}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>