<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Ingreso</h5>
                        <form class="form-signin" #loginForm="ngForm">
                            <div class="form-label-group">
                                <input type="password" name="clave1" id="inputPassword1" class="form-control"
                                    placeholder="Clave Actual" [(ngModel)]="claveActual" required #claveInput1="ngModel" />
                                <label for="inputPassword1"><i class="fas fa-key mr-2"></i>Clave Actual</label>
                            </div>
                            <div style="font-size: 10px; padding: .25rem 0.85rem;" class="alert alert-danger"
                                *ngIf="claveInput1.invalid && (claveInput1.touched || claveInput1.dirty)">
                                <div *ngIf="claveInput1.errors.required">
                                    Ingrese la clave actual.
                                </div>
                            </div>
                            <div class="form-label-group">
                                <input type="password" name="clave2" id="inputPassword2" class="form-control"
                                    placeholder="Nueva Clave" [(ngModel)]="nuevaClave" required #claveInput2="ngModel" />
                                <label for="inputPassword2"><i class="fas fa-key mr-2"></i>Nueva Clave</label>
                            </div>
                            <div style="font-size: 10px; padding: .25rem 0.85rem;" class="alert alert-danger"
                                *ngIf="claveInput2.invalid && (claveInput2.touched || claveInput2.dirty)">
                                <div *ngIf="claveInput2.errors.required">
                                    Ingrese la nueva clave.
                                </div>
                            </div>
                            <div class="form-label-group">
                                <input type="password" name="clave3" id="inputPassword3" class="form-control"
                                    placeholder="Confirmación Clave" [(ngModel)]="confirmacionClave" required #claveInput3="ngModel" />
                                <label for="inputPassword3"><i class="fas fa-key mr-2"></i>Confirmación Clave</label>
                            </div>
                            <div style="font-size: 10px; padding: .25rem 0.85rem;" class="alert alert-danger"
                                *ngIf="claveInput3.invalid && (claveInput3.touched || claveInput3.dirty)">
                                <div *ngIf="claveInput3.errors.required">
                                    Ingrese la confirmación de la clave.
                                </div>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" (click)="grabar()">
                                <i class="fas fa-sign-in-alt"></i>
                                Guardar
                            </button>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" (click)="login()">
                                <i class="fas fa-sign-in-alt"></i>
                                Cancelar
                            </button>
                            <hr class="my-4" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>