<div class="card border-primary mt-3">
    <div class="card-header border-primary center text-center">
        {{ubicacion}}
    </div>
    <div class="card-body" *ngIf="modoEdicion">
        <div class="form-group row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="txtNemonico">Código:</label>
                    <input type="text" class="form-control" id="txtNemonico" name="nombres" placeholder="Código"
                        [(ngModel)]="registro.nemonico" />

                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="txtNombre">Banco:</label>
                    <input type="text" class="form-control" id="txtNombre" name="nombres" placeholder="Banco"
                        [(ngModel)]="registro.nombre" />
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="swithEstado" [(ngModel)]="activo">
                    <label class="custom-control-label" for="swithEstado">Estado</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="text-center">
                <button class="btn btn-primary" (click)="grabar()">Grabar</button>
                <button class="btn btn-primary" (click)="cancelar()">Cancelar</button>
            </div>
        </div>
    </div>
    <div class="card-body" *ngIf="!modoEdicion">
        <button type="button" class="btn btn-success" (click)="nuevo()">Crear Nuevo</button>
        <br>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th *ngFor="let columna of cabecera.columnas">
                        {{columna.etiqueta}}
                    </th>
                    <th>
                        Opciones
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let registro of lista">
                    <td>
                        {{registro.nombre}}
                    </td>
                    <td>
                        {{registro.nemonico}}
                    </td>
                    <td align="center">
                        <input type="checkbox" class="form-check-input" [checked]="registro.estado_id === 1" disabled />


                    </td>
                    <td align="center">
                        <button type="button" class="btn btn-outline-primary" (click)="editar(registro)">Edita</button>
                        <button type="button" class="btn btn-outline-danger"
                            (click)="eliminar(registro)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>