<div class="card-body">
    <div class="form-group row">
        <br><br>
    </div>
    <div class="form-group row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            
                <img src="../../../assets/imagenes/fondoColaisa.png" 
                class="img-fluid" style="position: absolute; top: middle; z-index: -100; opacity: 0.50;"/>
            
        </div>
        <div class="col-sm-4">
        </div>
    </div>
</div>
